<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">
            <i class="large material-icons">
                local_shipping
            </i>
            <strong>Truckin'</strong>
        </h1>

        <p class="lead">
            Truckin' is an application used to streamline delivery routes and create
            consistant tracking processes for future deliveries.
        </p>

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
            Meet the Team!
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Meet the Team!</h4>
                </div>
                <div class="modal-body">
                    <p>Rachel Doran: 29 years old, tired a lot, somewhat of a homebody. </p>
                    <p>Tim Cockerill: 30 years old, never tired, never at home.</p>
                    <p>Shawn Galloway:</p>
                    <p>Carlo Ortega: </p>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center mb-2">
        <div class="card-header">
            <h5>Technologies Used</h5>
        </div>


    

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Frameworks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Back End</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>Bootstrap is a giant collection of handy, reusable bits of code written in HTML, CSS, and
                        JavaScript. It's also a front-end development framework that enables developers &
                        designers to quickly build fully responsive websites. </p>
                    <p> UI kit generally contains an assortment of graphic files including UI components
                        (buttons, check
                        boxes, progress bars, etc.) for the purpose of user interface design.</p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p>Sequelize is a promise-based ORM for Node.js. Sequelize is easy to learn and has dozens of
                        cool features like synchronization, association, validation, etc.
                        It also has support for PostgreSQL, MySQL, MariaDB, SQLite, and MSSQL.</p>

                    <p>Handlebars.js is a compiler that takes any HTML and Handlebars expression and compiles them
                        to a JavaScript function.
                        This derived JavaScript function then takes one parameter, an object—your data—and it
                        returns a string with the HTML and the object properties' values inserted into the HTML.</p>

                    <p>Express is a minimal and flexible Node.js web application framework that provides a robust
                        set of features for web and mobile applications.</p>
                </div>

            </div>