<div id="adminHome">
    <div class="container navContainer">
        <div class="row navRow">
            <div class="col-8" id="navBar">
                
            </div>
        </div>
    </div>
</div>