<div id="adminHome">
    <div class="container page">
        <div class="row navRow">
            <div class="col-12" id="navBar">
                <nav class="uk-navbar-container" uk-navbar>
                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li>
                                <a href="#">Parent</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item</a></li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
        <div class="col-7">
            <h2>Create Delivery</h2>
            <form class="clearfix mb-4" action="POST">
                <div class="form-group">
                    <label for="example-text">Destination</label>
                    <input type="text" id="destination" class="form-control" aria-describedby="example-text"
                        placeholder="destination">
                </div>
                <div class="form-group">
                    <label for="example-description">address</label>
                    <textarea class="form-control" id="address" aria-describedby="example-description"
                        placeholder="address"></textarea>
                </div>
                <button id="submit" class="btn sendOrder float-right">Send Route</button>
            </form>
        </div>
        <div class="row">
            <div class="col-5">
                <form>
                    <h2>Create Customer</h2>
                    <div class="form-group">
                        <label for="placeNameInput">Company/place</label>
                        <input class="form-control" id="exampleFormControlInput1 placeNameInput" placeholder="name/place">
                    </div>
                    <div class="form-group">
                        <label for="addressInput">address</label>
                        <input class="form-control" id="exampleFormControlInput1 addressInput" placeholder="address">

                    </div>
                    <div class="form-group">
                        <label for="deliveryTime">Delivery Time</label>
                        <input class="form-control" id="exampleFormControlInput1 deliveryTime" placeholder="0800">

                    </div>
                     <div class="form-group">
                        <label for="deliveryTime">Delivery Day</label>
                        <input class="form-control" id="exampleFormControlInput1 deliveryDay" placeholder="Wednesday">

                    </div>
                    <button type="submit" class="btn btn-primary customerButton">Create Customer</button>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-8">

                <ul Drivers and Theri Routes>
                    <li class="uk-open">
                        <a class="uk-accordion-title" href="#">Tim</a>
                        <div class="uk-accordion-content" id="timeRoute">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Rachel</a>
                        <div class="uk-accordion-content" id="rachelRoute">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat. Duis aute irure dolor reprehenderit.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Carlo</a>
                        <div class="uk-accordion-content" id="carloRoute">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>





    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/admin.js"></script>