<div id="adminHome">
    <div class="container page">
        <div class="row navRow">
            <div class="col-12" id="navBar">
                <nav class="uk-navbar-container" uk-navbar>
                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li>
                                <a href="#">Parent</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Item</a></li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
            <div class="col-7">

            </div>
        <div class="row">
            <div class="col-5">
                <form>
                    <div class="form-group">
                        <label for="placeNameInput">Company/place</label>
                        <input class="form-control" id="exampleFormControlInput1" placeholder="name/place">
                    </div>
                    <div class="form-group">
                        <label for="addressInput">address</label>
                        <input class="form-control" id="exampleFormControlInput1" placeholder="address">

                    </div>
                    <div class="form-group">
                        <label for="deliveryTime">Delivery Time</label>
                        <input class="form-control" id="exampleFormControlInput1" placeholder="0000">

                    </div>
                    <div class="form-group">
                        <label for="driverName">Driver Name</label>
                        <input class="form-control" id="exampleFormControlInput1" placeholder="john">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Order</button>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-8">

                <ul uk-accordion>
                    <li class="uk-open">
                        <a class="uk-accordion-title" href="#">Item 1</a>
                        <div class="uk-accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Item 2</a>
                        <div class="uk-accordion-content">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat. Duis aute irure dolor reprehenderit.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Item 3</a>
                        <div class="uk-accordion-content">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>





    </div>
</div>