<div id="adminHome">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Truckin'</h1>
            <p>Distribution and Delivery Solutions</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <h5 class="card-header">Create Delivery</h5>
                    <div class="card-body">

                        <form class="deliveryForm" action="PUT">
                            <div class="form-group m-2">
                                <label for="example-text">Customer Id</label>
                                <input type="text" id="customerId" class="form-control" aria-describedby="example-text"
                                    placeholder="Id#">
                                <label for="example-description">Driver</label>
                                <input class="form-control" id="deliveryDriver" aria-describedby="example-description"
                                    placeholder="tim, rachel, shawn, carlo"></input>
                                <button type="submit" id="submit" class="btn btn-primary m-1 float-right">Send
                                    Route</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <h5 class="card-header">Customers</h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Create New Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Customer List</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <ul id="customer-list" class="list-group">
                            </ul>
                        </div>
                        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <form class="createForm m-2">
                                <label for="placeNameInput">Company/place</label>
                                <input class="form-control" id="placeNameInput" placeholder="name/place">

                                <label for="addressInput">address</label>
                                <input class="form-control" id="addressInput" placeholder="address">

                                <label for="deliveryTime">Delivery Time</label>
                                <input class="form-control" id="deliveryTime" placeholder="0800">

                                <label for="deliveryTime">Delivery Day</label>
                                <input class="form-control" id="deliveryDay" placeholder="MM/DD/YYYY">

                                <button type="submit" class="btn btn-primary m-1 float-right">Create Customer</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- <ul Drivers and Theri Routes>
                    <li class="uk-open">
                        <a class="uk-accordion-title" href="#">Tim</a>
                        <div class="uk-accordion-content" id="timeRoute">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Rachel</a>
                        <div class="uk-accordion-content" id="rachelRoute">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat. Duis aute irure dolor reprehenderit.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Carlo</a>
                        <div class="uk-accordion-content" id="carloRoute">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                </ul> --}}
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/admin.js"></script>