<div>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Truckin'</h1>
            <p>Distribution and Delivery Solutions</p>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card text-center">
                    <h5 class="card-header">Drivers</h5>
                    <div class="card-body">
                        <h5 class="card-title">Drive safe out there today</h5>
                        <p class="card-text">click the button below to see today's route.</p>
                        <a href="#" class="btn btn-primary">See Today's Route</a>
                    </div>
                </div>

                <div class="card text-center">
                    <h5 class="card-header">Administrative</h5>
                    <div class="card-body">
                        <h5 class="card-title">Keep your drivers organized and on time.</h5>
                        <p class="card-text">Enter your password (eventually) and click the button to add or edit
                            customers, build routes, and get updates from your drivers.</p>
                        <a href="#" class="btn btn-primary">Admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
