<div class="container">
  <div class="card text-center mt-4">
    <div class="card-header">
      <h5>Deliveries</h5>
    </div>
    <div class="card-body">
      <ul id="customer-list" class="list-group">

      </ul>
    </div>
  </div>
</div>